DATABASE_URL="postgresql://postgres:myNimto@Pred@t0r300^^@db.wygfxfksfmspxdeqtigr.supabase.co:5432/postgres"
JWT_SECRET="c3f5d9a8e1b4f7c2e9d1a6b3c7e0f4a1"
FRONTEND_URL="https://www.mynimto.com"
PORT=4000
